diff a/arch/arm/mach-tegra/Kconfig b/arch/arm/mach-tegra/Kconfig	(rejected hunks)
@@ -101,6 +101,14 @@ config TEGRA_IRDA
 	  Adds support for Vishay IrDA transceiver at UARTB port
 	  of Verbier Boards(E1186 and E1198) with no ULPI rework done.
 
+config TEGRA_AHB
+	bool "Enable AHB driver for NVIDIA Tegra SoCs"
+	default y
+	help
+	  Adds AHB configuration functionality for NVIDIA Tegra SoCs,
+	  which controls AHB bus master arbitration and some
+	  perfomance parameters(priority, prefech size).
+
 comment "Tegra board type"
 
 source "arch/arm/mach-tegra/lge/Kconfig"
